\---
layout: default
\---
%section
  %h1 Цели языка
  %ul.goals
    %li Ruby-подобный синтаксис.
    %li Статическая типизация, но без указания типа переменных или аргументов метода.
    %li Возможность вызывать код на C путем написания биндингов внутри Crystal.
    %li TODO: Have compile-time evaluation and generation of code, to avoid boilerplate code.
    %li Компиляция в эффективный машинный код.

%section
  %h1 Как это выглядит
  .code_section
    {% include sample_code.md %}

%section
  %h1 Статус
  %p
    %ul.goals
      %li Проект в альфа-стадии: мы продолжаем дорабатывать язык и стандартную библиотеку. 
      %li Компилятор написан на Crystal.

%section
  %h1 Сообщество
  %p
    Все вопросы и предложения в нашей группе
    %i.ip.group
    %a{href: "https://groups.google.com/forum/?fromgroups#!forum/crystal-lang", target: "_blank"} Google Group
    или вступите в наш IRC канал #crystal-lang на irc.freenode.net

%section
  %h1 Записи из нашего блога
  .blog_roll
    {% for post in site.posts %}
    %article
      .thumbnail
        %p {{ post.thumbnail }}
      %h3
        %a{href: "{{post.url}}"} {{ post.title }}
      %p {{ post.summary }}
    {% endfor %}
